
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

/* HEADER
-------------------------------------------------- */

#header {
    width: 100%;
    padding-top:60px;
    padding-bottom:10px;
    -moz-box-shadow: 0px 1px 3px 0px #acacac;
    -webkit-box-shadow: 0px 1px 3px 0px #acacac;
    box-shadow: 0px 1px 3px 0px #acacac;
    background: #fcfcfc;
    position: relative;
}

#lockitron_header {
    border: none;
}

h1 {
    margin: 0 auto;
    margin-left: 380px;
    width: 174px;
    font-family: Purisa;
    font-size: 42px;
    font-weight: bold;
    color: #323232;
    letter-spacing: -0.05em;
    float: left;
}

#lockitron_header a {
    border: none !important;
    font-size: inherit !important;
}
h1 a {
    color: #323232;
    text-decoration: none;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 60px;
}

.carousel .container {
    position: relative;
    z-index: 9;
}

.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
}

.carousel .item {
    height: 500px;
}
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0 20px;
    margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
    margin-top: 10px;
}

/* GREY HEADER CONTENT
------------------------------------------------*/

.gray_background {
    width:100%;
    background:linear-gradient(tobottom,#f6f6f60,#fafafa50,#fafafa100);
    background: -moz-linear-gradient(top, #f6f6f6 0%, #fafafa 50%, #fafafa 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(50%, #fafafa), color-stop(100%, #fafafa));
    background: -webkit-linear-gradient(top, #f6f6f6 0%, #fafafa 50%, #fafafa 100%);
    background: -o-linear-gradient(top, #f6f6f6 0%, #fafafa 50%, #fafafa 100%);
    background: -ms-linear-gradient(top, #f6f6f6 0%, #fafafa 50%, #fafafa 100%);
    background: linear-gradient(to bottom, #f6f6f6 0%, #fafafa 50%, #fafafa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$gray_background_top_color',endColorstr='$gray_background_bottom_color',GradientType=0);
    border-bottom:1px solid #c4c4c4;
    padding-top:1px;
    padding-bottom:40px;
    height:425px;
}

.wrapper {
    width:935px;
    margin:0 auto;
}

.center{
    text-align: center;
}

.clearfix{
    zoom:1;
}

#video{
    float:left;
    width:512px;
    height:385px;
    background: #fff;
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.39);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.39);
    box-shadow: 0 2px 6px rgba(0,0,0,0.39);
}

#backing{
    float:left;
    width:383px;
    margin:20px 0 0 40px;
}

#backing ul{
    text-align:center;
    list-style: none;
}

#backing #backers{
    border-left:none;
    padding-left:0px;
}

#backing .stats{
    margin:0 auto;
    color: #3f3f3f;
    font-size:24px;
    display:inline-block;
    font-family: "Helvetica Neue","Helvetica","Arial";
    border-right: 1px solid #cbcbcb;
    padding-right: 26px;
    padding-left: 26px;
    text-align: left;
}

#backing .stats span{
    color: #868686;
    font-size: 18px;
    margin-top: 5px;
    display: block;
    font-family: "Helvetica Neue","Helvetica","Arial";
}

#backing #days{
    border-right:none;
    padding-right:0;
}

#clear{
    clear:both;
}

#progress_bg{
    margin-top: 20px;
    float: left;
    height: 40px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.41);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.41);
    box-shadow: 0 1px 1px rgba(0,0,0,0.41);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width: 383px;
    background: #dbdbdb;
}

#progress_bg #progress{
    height: 40px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.59);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.59);
    box-shadow: 0 1px 1px rgba(0,0,0,0.59);
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(90deg, #1392dc 0%, #069df4 100%);
    background-image: -o-linear-gradient(90deg, #1392dc 0%, #069df4 100%);
    background-image: -webkit-linear-gradient(90deg, #1392dc 0%, #069df4 100%);
    background-image: linear-gradient(90deg, #1392dc 0%, #069df4 100%);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    min-width: 2%;
    width: 100%;
    max-width: 100%;
    display: inline-block;
}

.small #progress{
    height: 20px !important;
}

#reserve_container{
    float: left;
    padding-top: 20px;
    border-top: 1px solid #fff;
    -moz-box-shadow: 0 -1px 0 #cbcbcb;
    -webkit-box-shadow: 0 -1px 0 #cbcbcb;
    box-shadow: 0 -1px 0 #cbcbcb;
    margin-top: 30px;
    text-align: center;
}

#reserve_container #ship_date {
    color: #4c4c4c;
    font-size: 22px;
    font-family: "Helvetica Neue","Helvetica","Arial";
    line-height: 1.3;
    display: block;
    margin: 0 auto;
    width: 300px;
}

#reserve_container p {
    color: #8b8a8a;
    font-size: 18px;
    line-height: 1.4;
}

.reserve {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0;
    width: 274px;
    font-size: 32px;
}

.fb-like {
    margin-left: 5px;
    float: left;
}

.small{
    height:20px !important;
}

.blue_button {
    display: block;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.37);
    -moz-box-shadow: 0 1px 1px rgba(255,255,255,0.92),inset 0 -1px rgba(0,0,0,0.22);
    -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.92),inset 0 -1px 1px rgba(0,0,0,0.22);
    background-image: -moz-linear-gradient(90deg, #0e96e4 0%, #02a0fa 100%);
    background-image: -o-linear-gradient(90deg, #0e96e4 0%, #02a0fa 100%);
    background-image: -webkit-linear-gradient(90deg, #0e96e4 0%, #02a0fa 100%);
    background-image: linear-gradient(90deg, #0e96e4 0%, #02a0fa 100%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: "Helvetica Neue","Helvetica","Arial";
}

.blue_button:hover {
    -moz-box-shadow:0 1px 1px rgba(255,255,255,0.92),inset 0 -1px 1px rgba(0,0,0,0.22);
    -webkit-box-shadow:0 1px 1px rgba(255,255,255,0.92),inset 0 -1px 1px rgba(0,0,0,0.22);
    box-shadow:0 1px 1px rgba(255,255,255,0.92),inset 0 -1px 1px rgba(0,0,0,0.22);
    background-image:linear-gradient(90deg,#2da4e90,#21aeff100);
    text-decoration:none;
}

.blue_button:active {
    -moz-box-shadow:0 1px 1px rgba(255,255,255,0.92),inset 0 3px 5px rgba(0,0,0,0.22);
    -webkit-box-shadow:0 1px 1px rgba(255,255,255,0.92),inset 0 3px 5px rgba(0,0,0,0.22);
    box-shadow:0 1px 1px rgba(255,255,255,0.92),inset 0 3px 5px rgba(0,0,0,0.22);
    background-image:linear-gradient(90deg,#039ff70,#039ff7100);
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .span4 {
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .span4 p {
    margin-left: 10px;
    margin-right: 10px;
}

.marketing{
    padding-top:20px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 40px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
    padding-top: 10px; /* Vertically center images part 1: add padding above and below text. */
    overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
    margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
    margin-right: 40px;
}
.featurette-image.pull-right {
    margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */
/* Large Desktop */
@media (min-width:980px){
    .featurette-image.pull-left,
    .featurette-image.pull-right {
        display: block;

        max-width: 40%;
        margin: 0 auto 20px;
    }
}

@media (max-width: 979px) {

    .carousel .item {
        height: 500px;
    }
    .carousel img {
        width: auto;
        height: 500px;
    }

    .featurette {
        height: auto;
        padding: 0;
    }
    .featurette-image.pull-left,
    .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
    }
}


@media (max-width: 767px) {

    .carousel {
        margin-left: -20px;
        margin-right: -20px;
    }
    .carousel .container {

    }
    .carousel .item {
        height: 300px;
    }
    .carousel img {
        height: 300px;
    }
    .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
    }
    .carousel-caption h1 {
        font-size: 30px;
    }
    .carousel-caption .lead,
    .carousel-caption .btn {
        font-size: 18px;
    }

    .marketing .span4 + .span4 {
        margin-top: 40px;
    }

    .featurette-heading {
        font-size: 30px;
    }
    .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
    }

}

/* Large Desktop */
@media (min-width:980px){
    .linediv-1{
        border-bottom: 1px white solid;
    }
    .linediv-r{
        border-top:1px white solid;
    }
}

/* Landscape phones and down */
@media(max-width: 480px){
    .copy {
        padding:2.5% 10%;
    }
    .linediv-1{
        border-bottom: 1px white solid;
    }
    .linediv-r{
        border-top: 1px white solid;
    }
}

/* All for factors */

/*Main body and headings */

body{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.heading .subheading{
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    text-align: center;
}
p.lead{
    padding-top: 1.5%;
    font-size: 24px;
    line-height: 30px;
}
p{
    font-size: 18px;
    line-height:24px;
}

/* Video pitch and Action */
.pitch {
    padding: 2.5% 0%;
}
.order{
    padding: 2% 0%;
}
.actions {
    background-color: #343434;
    padding: 3% 0%;
}
.video, .thermometer, .order, .social, .statistics {
    text-align: center;
}
.statistics h3, .statistics p{
    color:white;
}

/*Marketing Copy and Footer */
.copy{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: justify;
}
.asset{
    padding: 2.5% 0%;
}
.footer{
    color: #cccccc;
    text-align: center;
}
.footer p{
    font-size: 11px;;
}
.footer a{
    color: #ccccff;
}